body {
    background-color: black;
    text-align: center;
    transition: 1s;
}

h1 {
    color: white;
}

div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}
.ball0 {
    background-color: yellow;
}   

.ball1 {
    background-color: blue;
}

.swap, .reduce, .changePageColor {
    background-color: white;
}
